$font-stack: Helvetica, sans-serif;
$primary-color: #111111;
$font-color: #000000;

body {
  background-color: $primary-color;
  color: $font-color;
}

ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

li {
	padding: 0;
	margin: 0;
	width: 600px;
	height: 300px;
}

#container {
	height: 300px;
	width: 600px;
}
