<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%= _.capitalize(webappName) %></title>
    <link rel="stylesheet" href="app/css/base.css">

    <% if (jQuery) { %>
        <script src="libs/jquery/jquery.min.js"></script>
    <% } %>

    <% if (angular) { %>
        <script src="libs/angular/angular.min.js"></script>
    <% } %>

    <% if (bootstrap) { %>
        <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <% } %>

    <% if (parallax) { %>
        <script src="libs/parallax/deploy/jquery.parallax.min.js"></script>
        <script src="libs/parallax/deploy/parallax.min.js"></script>
    <% } %>

    <script src="app/scripts/app.js"></script>

</head>

<body>

    <div class="<% if(bootstrap) { %> row <% } %>">
        <div class='content <% if(bootstrap) { %> col-xs-10 col-xs-offset-1 <% } %>'>

            <h3>Your new web app: <%= _.capitalize(webappName) %></h3><br/>

            <% if (jQuery) { %>
                <p class="<% if(bootstrap) { %> lead bg-success <% } %>">You are using jQuery. Congrats!</p>
                <script>
                    $('p:first').append("<br/>Hallo, jQuery is working!");
                </script>
            <% } %>

            <% if (jQueryMobile) { %>
                <p class="<% if(bootstrap) { %> lead bg-success <% } %>">You are using jQueryMobile. Hurray!</p>
            <% } %>

            <% if (bootstrap) { %>
                <p class="lead bg-success">You are using Bootstrap. Congrats!</p>
                <button type="button" class="btn btn-success">This is a bootstrap-button</button><br/><br/>
            <% } %>

            <% if (angular) { %>
                <p class="<% if(bootstrap) { %> lead bg-success <% } %>">You are using Angular, awesome!</p>
            <% } %>

            <% if (parallax) { %>
                <p class="<% if(bootstrap) { %> lead bg-success <% } %>">You are using parallax? How handsome!</p>
                See what you can do with it: <br/>
                <small>(To get an extra-wow-effect, try in on a mobile device!)</small><br/><br/>

                <div id="container">
                    <ul id="scene">
                        <li class="layer" data-depth="0.00" style="background-image: url('app/images/ebene-1.png')"></li>
                        <li class="layer" data-depth="0.20" style="background-image: url('app/images/ebene-2.png')"></li>
                        <li class="layer" data-depth="0.40" style="background-image: url('app/images/ebene-3.png')"></li>
                        <li class="layer" data-depth="0.10" style="background-image: url('app/images/ebene-4.png')"></li>
                        <li class="layer" data-depth="0.00" style="background-image: url('app/images/ebene-5.png');"></li>
                        <li class="layer" data-depth="0.30" style="background-image: url('app/images/ebene-6.png')"></li>
                        <li class="layer" data-depth="0.70" style="background-image: url('app/images/ebene-7.png')"></li>
                    </ul>
                </div>

                <script>
                    var scene = document.getElementById('scene');
                    var parallax = new Parallax(scene);
                </script>

            <% } %>
        </div>
    </div>
</body>
</html>